In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import sys
import csv
import pandas_profiling
from pandas_profiling import ProfileReport

In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [ ]:
#!pip install pandas_profiling==2.9.0

In [ ]:
ls /content/drive/My\ Drive/Colab-Notebooks/data/proj-1/train/0A0FACJ.female.42.Cancer.csv

ls: cannot access '/content/drive/My Drive/Colab-Notebooks/data/proj-1/train/0A0FACJ.female.42.Cancer.csv': No such file or directory

In [3]:
cd /content/drive/My\ Drive/Colab-Notebooks

[Errno 2] No such file or directory: '/content/drive/My Drive/Colab-Notebooks'
/content

In [5]:
!git init /content/drive/My\ Drive/Colab-Notebooks/proj-1

Initialized empty Git repository in /content/drive/My Drive/Colab-Notebooks/proj-1/.git/

In [13]:
!git config --global user.email "sriram.sanjeev9s@gmail.com"
!git config --global user.name "srspratti"

In [20]:
#!git remote add origin https://github.com/srspratti/nlp_proj_1.git
!git remote add origin https://srspratti:EDUnovu17&@github.com/srspratti/nlp_proj1_classifiers.git

/bin/bash: @github.com/srspratti/nlp_proj1_classifiers.git: No such file or directory
fatal: remote origin already exists.

In [19]:
!git add .
!git commit -m "Initial commit to github"

On branch main
nothing to commit, working tree clean

In [17]:
!git branch -M main
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address

In [ ]:
!cp proj_1_LinearClassifier.ipynb proj-1/Proj1_Baseline_Classifier.ipn

total 90
-rw------- 1 root root 36858 Sep 11 05:18 'Copy of 20200910_IFT6390_Lab1_02_1NN_SOLUTION.ipynb'
-rw------- 1 root root  1455 Sep 19 19:50 'Copy of Sample'
drwx------ 2 root root  4096 Oct 12 15:00  data
-rw------- 1 root root  6039 Sep 25 18:59  Duty2.ipynb
drwx------ 2 root root  4096 Oct 17 15:26  proj-1
-rw------- 1 root root 38642 Oct 17 15:26  proj_1_LinearClassifier.ipynb

In [ ]:
#sample_df=pd.read_csv("/content/drive/My Drive/Colab-Notebooks/data/proj-1/train_1/train/ZZZIYG7.male.23.Gemini.csv", quoting=3, encoding="UTF-8",sep=",", engine='python', header=None, names=["ID","Gender","Age","Zodiac Sign","Blog-post"])
sample_df=pd.read_csv("/content/drive/My Drive/Colab-Notebooks/data/proj-1/train_1/train/0A5RMYN.female.36.Sagittarius.csv", encoding="UTF-8",sep=",", engine='python', header=None, names=["ID","Gender","Age","Zodiac Sign","Blog-post"])

In [ ]:
#sample_df[:,[0,1,2]] "".join(sample_df[:,[3:]])
sample_df.iloc[:,4]
#sample_df.insert(4,"blog-post",'ANY')

0     I have packed my suitcase already which is goo...
1     So my plans today have changed.  I had one of ...
2     So I am finally going to get my esthetics lice...
3     So here I sit and ponder the first blog.  I am...
4     Ok, so now I am packed, suitcase is in car, an...
5     Today was a total me girl day.  I went and got...
6     I can't believe I am finally back from my 10 t...
7     I am having a slow start to Saturday, but sinc...
8     I knew my good day yesterday (see previous blo...
9     I actually had a pretty good day today, they a...
10    I was going to write this blog last night, how...
11    My dogs are nut cases.  But I love my little n...
12    So I should be working, and I have been trying...
13    It's Saturday morning, no alarm clocks to wake...
14    Big HUGE fabulous Cosmic Love.    It has a nic...
15    So happy it is friday tomorrow!!  So happy I d...
16    Ok, note to self, I need to stop scheduling ea...
17    Today went pretty well, met with my client and...
18    So this is to be a quickie as I am trying to b...
19    No it doesn't!!  As at this moment, there is a...
20    Why am I addicted to this movie??  It is not e...
21    I just love that song, I purchased The Sisters...
22    Didn't have much to blog about yesterday, and ...
23    The three day weekend is nearly over.  What di...
24    Tomorrow is up early off to get my hair colore...
25    I can't believe how exhausted I feel right now...
26    Today my mum would be 69.  Happy Birthday mum!...
27    I have come to the conclusion that I must love...
28    This weekend we had a surprise party for Satan...
29    Nothing to report............................t...
30    As I am home today sick, I have done the follo...
31    Alright, so if getting this weird summer cold ...
32    As I have really nothing to report as I am not...
33    My sister is a massage therapist in Arizona, a...
34    Why are weekends so damn short??  I feel I nev...
35    Went to the school yesterday with coworker to ...
36    Wow, can't believe how long I was illin..........
37    Still sick....Still sweaty......Still hacking ...
38    urlLink    here is me, without white makeup,  ...
39    urlLink    here is Liz at my house wasted, sit...
40    So, here I am at my desk working ( or not work...
41    Everyone needs to go to the  urlLink Mangey Cu...
42    I think I have become a crazy bird lady. Every...
43    urlLink    this is me at halloween on year.  O...
44    urlLink    here is Satan on the beach with one...
45    Well, I know I should be working, but blogging...
46    urlLink    my two other girls, the labs, were ...
47    urlLink    this is Ghost at Christmas, she lik...
48    I actually exercised this morning! Yipee! As I...
49    I realized this evening, I really am evil...An...
50    I think the alcohol from Saturday's drinking f...
51    urlLink    getting that glossy eyed look, Liz ...
52    urlLink    Liz thinks she should post this on ...
Name: Blog-post, dtype: object

In [ ]:
sample_df.to_csv("/content/drive/My Drive/Colab-Notebooks/data/proj-1/sample_df_3.csv")

In [ ]:
sample_df['Zodiac Sign']

0    Gemini
1    Gemini
2    Gemini
3    Gemini
Name: Zodiac Sign, dtype: object

In [ ]:
sample_df.iloc[1,0]

'ZZZIYG7'

In [ ]:
sample_df.iloc[:,4]

0    Thanks to drugs (or more specifically Moss Pha...
1    So I've got an interview for a job at a pharma...
2    Many people have told me that my degree is use...
3    Admittedly I haven't been playing too much sin...
Name: Blog-post, dtype: object

In [ ]:
sample_df['ID']

0    ZZZIYG7
1    ZZZIYG7
2    ZZZIYG7
3    ZZZIYG7
Name: ID, dtype: object

In [ ]:
!ls -l drive/My\ Drive/Colab-Notebooks/data/proj-1/train/ | wc -l

1916

In [ ]:
!ls

drive  sample_data

Reading all the csv files and converting to a data frame

In [ ]:
import glob
import os
path = r'drive/My Drive/Colab-Notebooks/data/proj-1/train_1/train/'
all_csv_files = glob.glob(os.path.join(path, "*.csv"))

In [ ]:
len(all_csv_files)

10771

In [ ]:
"""
df_each_csv_file = []
df_all_csv_file = []
#df_each_csv_file.append((pd.read_csv(each_csv_file) for each_csv_file in all_csv_files))
for each_csv_file in all_csv_files:
  df_each_csv_file = pd.read_csv(each_csv_file, quoting=3, error_bad_lines=False, doublequote=True, encoding="UTF-8", engine='python', header=None, names=["ID","Gender","Age","Zodiac Sign","Blog-post"])
  df_all_csv_file.append(df_each_csv_file)
"""

In [ ]:


csv.field_size_limit(sys.maxsize)

131072

In [ ]:
df_each_csv_file = []
df_from_each_file = (pd.read_csv(each_csv_file, error_bad_lines=False,sep=',', encoding="UTF-8", engine='python', header=None, names=["ID","Gender","Age","Zodiac Sign","Blog-post"]) for each_csv_file in all_csv_files)
#df_from_each_file = (pd.read_table(each_csv_file,error_bad_lines=False, quotechar=None, quoting=3, sep=',', encoding="UTF-8", engine='python', header=None, names=["ID","Gender","Age","Zodiac Sign","Blog-post"]) for each_csv_file in all_csv_files)
df_all_csv_file   = pd.concat(df_from_each_file, ignore_index=True, axis=0)

Skipping line 165: unexpected end of data

In [ ]:
len(df_all_csv_file)

377683

In [ ]:
df_all_csv_file.info

<bound method DataFrame.info of              ID  ...                                          Blog-post
0       4DMXF0B  ...  7 Years Later               Robert Freeman, an...
1       4DMXF0B  ...  Saul Kovin stared blankly into the demented ey...
2       4DMXF0B  ...  Welcome to my blog, hidden truth.  I'm still w...
3       AJTB6PZ  ...  These are my opinions.  No one elses.  No one ...
4       AJTB6PZ  ...  I guess it all started when I was walked in my...
...         ...  ...                                                ...
377678  J3EGGQ5  ...  Ladies (I'm looking at you Ethan) and gentleme...
377679  J3EGGQ5  ...  Just to quell any stupid ideas you may have......
377680  J3EGGQ5  ...  NEWSFLASH! Today, my computer crashed. I had t...
377681  J3EGGQ5  ...  As you see, I've already picked my topic for t...
377682  J3EGGQ5  ...  OK, we're all set and good to go with WingedSe...

[377683 rows x 5 columns]>

In [ ]:
#merged_df_all_csv_files = pd.concat(df_all_csv_file,ignore_index=True, axis=0)

TypeError: ignored

In [ ]:
df_all_csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377683 entries, 0 to 377682
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           377683 non-null  object
 1   Gender       377683 non-null  object
 2   Age          377683 non-null  int64
 3   Zodiac Sign  377683 non-null  object
 4   Blog-post    377683 non-null  object
dtypes: int64(1), object(4)
memory usage: 14.4+ MB

In [ ]:
df_all_csv_file.head(5)

        ID  ...                                          Blog-post
0  4DMXF0B  ...  7 Years Later               Robert Freeman, an...
1  4DMXF0B  ...  Saul Kovin stared blankly into the demented ey...
2  4DMXF0B  ...  Welcome to my blog, hidden truth.  I'm still w...
3  AJTB6PZ  ...  These are my opinions.  No one elses.  No one ...
4  AJTB6PZ  ...  I guess it all started when I was walked in my...

[5 rows x 5 columns]

In [ ]:
df_all_csv_file.head(2)

        ID  ...                                          Blog-post
0  4DMXF0B  ...  7 Years Later               Robert Freeman, an...
1  4DMXF0B  ...  Saul Kovin stared blankly into the demented ey...

[2 rows x 5 columns]

In [ ]:
df_all_csv_file.loc()

In [ ]:
len(df_all_csv_file.columns)

5

In [ ]:
len(df_all_csv_file.rows)

NameError: ignored

In [ ]:
df_all_csv_file

             ID  ...                                          Blog-post
0       4DMXF0B  ...  7 Years Later               Robert Freeman, an...
1       4DMXF0B  ...  Saul Kovin stared blankly into the demented ey...
2       4DMXF0B  ...  Welcome to my blog, hidden truth.  I'm still w...
3       AJTB6PZ  ...  These are my opinions.  No one elses.  No one ...
4       AJTB6PZ  ...  I guess it all started when I was walked in my...
...         ...  ...                                                ...
377678  J3EGGQ5  ...  Ladies (I'm looking at you Ethan) and gentleme...
377679  J3EGGQ5  ...  Just to quell any stupid ideas you may have......
377680  J3EGGQ5  ...  NEWSFLASH! Today, my computer crashed. I had t...
377681  J3EGGQ5  ...  As you see, I've already picked my topic for t...
377682  J3EGGQ5  ...  OK, we're all set and good to go with WingedSe...

[377683 rows x 5 columns]

# Data Exploration

In [ ]:
profile = df_all_csv_file.profile_report(title='Blog Sample report')

AttributeError: ignored

In [ ]:
profile.to_file("/content/drive/My Drive/Colab-Notebooks/data/proj-1/df_all_csv_file_output.html")